<?xml version="1.0" ?>
<robot name="aries_01" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <static>false</static>
  </gazebo>
  <!--                            BOAT HULL                                  -->
  <link name="boat_hull">
    <collision name="collision">
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/urdf/collada/boat_hull.dae" />
      </geometry>
    </collision>

    <visual name="visual">
      <geometry>
        <mesh filename="file://$(find gazebo_simulation)/urdf/collada/boat_hull.dae" />
      </geometry>
    </visual>

    <inertial>
       <mass value="0.8" />
       <inertia
         ixx="0.0000020778656"
         ixy="-0.000000089099184"
         ixz="0.0000000000189384648"
         iyy="0.00000824124569"
         iyz="0.0000000000531947773"
         izz="0.0000070840279"
       />
    </inertial>

    <buoyancy>
      <compensation>1.25</compensation>
      <origin xyz="0 0 0.040"/>
      <limit radius="0.031"/>
      <damping xyz="60 100 100"/>
    </buoyancy>
  </link>
</robot>
